* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Type Selector */
p {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Class Selector */
.highlight {
  background-color: #21a2c9;
}

/* ID Selector */
#header {
  background-color: #84c2eb;
  font-size: 25px;
  margin-bottom: 5px;
}

/* Attribute Selector */

input[type="text"] {
  border: 3px solid #0f02fa;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 5px;
}

/* Descendent Selector */
article P {
  font-style: italic;
  background-color: #ace9fb;
  padding: 5px;
  font-size: 30px;
  font-weight: 400;
}

/* Child Selector */
div > p {
  background-color: #6ccbfe;
}

/* Adjacent Sibling Selector */
h1 + p {
  font-weight: bold;
  font-size: 25px;
  color: #0449b2;
}

/* General Sibling Selector */

h2 ~ p {
  color: #03a8f4;
  font-weight: 700;
  font-size: 22px;
}

/* Pseudo Class Selector */
a:hover {
  background-color: #17f403;
  text-decoration: none;
  color: #0f02fa;
  font-size: 22px;
  padding: 5px;
  margin: 5px;
}

/* Pseudo Element Selector */
p::first-letter {
  font-size: 25px;
  font-weight: bold;
}

/* Psuedo-Class Selector */
h1,
h2,
h3 {
  background-color: #036fc7;
  color: white;
}
