body {
  background: linear-gradient(135deg, #8a2be2, #4169e1);
  font-family: arial, san-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}
.container {
  background-color: #fff;
  border: 2px solid #333;
  margin-bottom: 20px;
  padding: 10px;
}
.grid-container {
  display: grid;
  gap: 10px;
  background-color: #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
.sub-container {
  background-color: white;

  align-items: center;
  justify-content: center;
}
.box {
  background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
  color: white;
  font-size: 20px;
  text-align: center;
}
